
.startUser, .startUser__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
    background-color: var(--panelColor);
    border-radius: 10px;
}

.startUser__form {
    flex-direction: row;
}

.startUser {
    background: none;
}

.startUser > *, .startUser__form > * {
    margin: 10px;
    font-size: 18px;
}

.startUser__form > * {
    margin: 5px;
}

#regName {
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

#regButton {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}