* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: system, -apple-system, "San Francisco", Roboto, "Segoe UI", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.roomContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.buttons {
    width: 90%;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
    background-color: rgba(0,0,0, 0.05);

    display: flex;
    justify-content: center;
    align-items: baseline;
}

.buttonRoom {
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
}

.buttonRoom:hover {
    cursor: pointer;
    opacity: .6;
}

.buttonRoom:active {
    cursor:auto;
    opacity: .3;
}

h1 {
    margin: 10px;
}

p {
    margin-bottom: 5px;
}

.roomImg {
    width: 90%;
    max-width: 500px;
    margin: 10px;
    border-radius: 10px;
}

.disable {
    display: none;
}

.cooldown {
    pointer-events: none;
    opacity: 0.2;
}

.cooldown-overlay {
    width: 100%;
    height: 100px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.profile {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(0,0,0, 0.05);
    width: 50%;
    min-width: 300px;
    border-radius: 10px;
}

.gameInfo {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 12px;
    opacity: .3;
    padding: 10px;
    border-radius: 10px;
    width: 95%;
}

.gameInfo > * {
    pointer-events: none;
}