@import "components/scrollbar.css";
@import "components/panel.css";

body {
    display: flex;
    justify-content: left;
}

@media (pointer:none), (pointer:coarse) {
    body {
        flex-direction: column;
    }
}