@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=PT+Mono&display=swap');

*::selection, *::-moz-selection {
    background-color: #E5BA73 ;
}

* {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.1px;
}

html, body {
    scroll-behavior: smooth;
}

body {
    background-color: #FAF8F1;
    color: rgb(32,32,32);
}

figcaption {
    color: rgb(64,64,64);
    background-color: none;
    padding: 5px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 800;
    font-weight: bold;
    border: 3px solid rgb(32,32,32);
}

.container {
    line-height: 24px;
    font-size: 20px;
}

.header > .header__title {
    font-weight: 800;
    font-size: 38px;
}

.header {
    border-radius: 5px;
    margin-top: 16px;
    border: 4px  solid rgb(32,32,32);
}

.content > .content__title {
    font-size: 50px;
    width: 100%;
    line-height: 1.0;
    font-weight: 800;
}
.content__data > .content__subtitle {
    font-size: 38px;
    font-weight: 800;
    line-height: 1.0;
    width: 100%;
    margin-top: 15%;
    letter-spacing: 0.4px;
}

.content__image {
    width: 100%;
    border-radius: 5px;
}

.content__text {
    font-weight: 600;
    word-wrap: break-word;
    line-height: 1.7;
}

.content__data {
    width: 65%;
}

.content__data > figcaption {
    margin-top: 0;
    text-align: center;
}


@media (max-width: 900px) {
    
    .header > .header__title {
        font-weight: 800;
        font-size: 26px;
    }

    .content__image {
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .content__data {
        width: 100%;
    }
    
}